body {
font-family: sans-serif;
  color: white;
  text-align: center;
  background-color: rgb(82, 75, 75);
}
.App {
  font-family: sans-serif;
  color: white;
  text-align: center;
  background-color: rgb(82, 75, 75);
}

.Calculadora {
  color: rgb(41, 36, 36);
  background-color: rgb(180, 176, 179);
  border-radius: 10px;
  margin: 500px;
  margin-top: 10px;
  padding: 20px
}

button {
  color: rgb(41, 36, 36);
  background-color: rgb(255, 255, 255);
  padding: 1%;
  margin: 5px;
}

.Boton-C {

}